



<ion-header>
  <ion-toolbar>
    <ion-title>Depozit Central</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-card color="primary" (click)="goToIntroducereFacturi()">
      <ion-card-header>
        <ion-card-title>Introducere Facturi</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Click pentru a introduce o nouă factură. -->
      </ion-card-content>
    </ion-card>

    <ion-card color="secondary" (click) = "goToSituatieStocuri()">
      <ion-card-header>
        <ion-card-title>Situații Stocuri</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Click pentru a vizualiza stocurile actuale. -->
      </ion-card-content>
    </ion-card>

    <ion-card color="tertiary" (click)="goToEditareFacturi()">
      <ion-card-header>
        <ion-card-title>Vizualizare Facturi</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Click pentru a edita o factură existentă. -->
      </ion-card-content>
    </ion-card>
  </ion-content>


</ion-content>


