<ion-header>
  <ion-toolbar>
    <ion-title >Introduceti Valoare Vanduta CARD</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="center-content">
  <ion-item>
    <ion-label position="stacked">Introduceți o valoare numerică mai mica decat {{suma}}</ion-label>
    <ion-input type="number" [(ngModel)] ="value"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="saveValue(value,suma)">OK</ion-button>
  <ion-button expand="full" color="danger" (click)="closeDialog()">Anulare</ion-button>
</ion-content>
