<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">INTRODUCETI AVIZ</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content >
  <div class="button-row">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Serie document</ion-label>
      <ion-input [(ngModel)]="documentSerie" name="documentSerie" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Număr document</ion-label>
      <ion-input [(ngModel)]="documentNumber" name="documentNumber" type="text" required></ion-input>
    </ion-item>

    <ion-button expand="full"
    class="custom-button" type="submit">Next</ion-button>
  </form>
  </div>
</ion-content>
